<!DOCTYPE html>
{% extends 'nav.html' %}
{% load custom_templatetag %}

{% block style %}
<link rel="stylesheet" href="/Static/store.css">
{% endblock style %}

{% block body %}


<div class="container">
    <div class="headers">
        <h1 style="text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        color: #6a6b73;">Gaming Laptops</h1>
        <h3 style="text-align: center;

        font-weight: bolder;
        color: #6a6b73;">Best Cases For Gaming  , Game Like Never Before</h3>
    </div>



<div class="row" style="    margin-bottom: 6%; margin-right: -13%;margin-left: -1%;">
    {% for x in data %}
    <div class="col-lg-4" >

        <div class="row imger" style="width: 380px; height: 283px;">
            <img src="/Media/{{x.picture}}" style="width: 100%; height: 100%;">
        </div>
        <div  class="row details">
            <a href="/product={{x.slug}}"><h1>{{x.name}}</h1></a>
        </div>

        


        {% for key in x.details %}
        
            

            <div  class="row details">
                {% dict_convert x.details key %}
            </div>
            <hr>
            
        {% endfor %}



        {% comment %} <div  class="row details">
           {{x.desc}}
        </div>
        <hr>
        <div class="row details">
     
            {{x.cpu}}
           
        </div>
        <hr>
        <div style="text-align: center;" class="row details">
            {{x.os}}
        </div>
        <hr>
        <div class="row details">
            {{x.gpu}}
        </div>
        <hr>
        <div class="row details">
           {{x.ram}}
        </div>
        <hr>
        <div class="row details">
            {{x.storage}}
        </div>
        <hr>
        <div class="row details">
            {{x.screen}}
        </div>
        <hr> {% endcomment %}
        <div class="row details pricer">
            Starting From {{x.price}} $
        </div>
        <div class="last_btn">
            <button   class=" btn btn-block btn-outline-dark">Build Yours</button>
        </div>
        
         
    </div>
   
    {% endfor %}
</div>



</div>

{% endblock body %}

